/* line 3, ../../../app/stylesheets/plans/show.sass */
#plan {
  width: 100%;
  margin: 0;
}
/* line 4, ../../../app/stylesheets/plans/show.sass */
#plan h1 {
  border-bottom: 1px solid #aaaaaa;
}
/* line 8, ../../../app/stylesheets/plans/show.sass */
#plan .actions {
  float: right;
}
/* line 10, ../../../app/stylesheets/plans/show.sass */
#plan .contents {
  padding: 10px;
}
/* line 12, ../../../app/stylesheets/plans/show.sass */
#plan .contents p {
  line-height: 100%;
  margin: 10px;
}
