/*******
 * bluish background
 */
body {
  background-color: #AAD9FF;
}

/*********
 * round reddish notice box
 */
#notice {
  border: 1px solid #FF5A31;
  background-color: #FF947A;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
}

/*********
 * round white-filled boxes
 */
#sidebar, #content, #welcome {
  border: 8px solid black;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}

/********
 * sidebar
 */
#sidebar {
  min-height: 500px;
  width: 150px;
}

#notifications ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 10px;
}

/*********
 * uppercase sans headings with a thick black bottom border
 */
h1, #quicklinks a {
  font-family: 'Verdana';
  text-transform: uppercase;
  font-size: 0.8em;
}

#quicklinks ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 5px;
}

h1 {
  border-bottom: 4px solid black;
}

/***********
 * plan title and floating Edit/Finger link
 */
#plan {
  position: relative;
}

#plan .actions {
  position: absolute;
  top: 10px;
  right: 10px;
}

/**********
 * a little breathing room on the plan itself
 */
#plan .contents {
  line-height: 1.3em;
}

/********
 * black links that underline on hover
 */
a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline
}

/***********
 * shrink the edit section a tad
 */
#edit {
  width: 575px;
  margin: 0 auto;
}
