%header
  - if flash[:notice].present?
    #notice= flash[:notice]

  #welcome
    - if current_account.guest?
      %a{href: new_session_path} Log in
    - else
      Welcome back, #{plan_link(current_account)}!
      %a{href: url_for(controller: :sessions, action: :clear)} (Logout)
