%aside#sidebar
  - unless current_account.guest?
    %a#all_plans(href=all_plans_path) See all plans

    %h1#autofinger autofinger
    - fingers = current_account.fingers
    %ul
      - fingers.each do |finger|
        %li= finger.link
      - if fingers.empty?
        %li (None)

    %h1#planlove planlove
    - lovers = current_account.recent_lovers
    %ul
      - lovers.each do |lover|
        %li= lover.account.link
      - if lovers.empty?
        %li (None)
