%aside#sidebar
  - if current_account.logged_in?
    %nav#quicklinks
      %ul
        %li
          %a.all_plans{href:all_plans_path} See All Plans
        %li
          %a.logout{href:edit_account_path(current_account.login)} Edit Account
        %li
          %a.logout{href:clear_sessions_path} Logout

    %nav#notifications
      %section#autofinger
        %h1 Autofinger
        - fingers = current_account.fingers
        %ul
          - fingers.each do |finger|
            %li= finger.link
      %section#planlove
        %h1 Planlove
        - lovers = current_account.recent_lovers
        %ul
          - lovers.each do |lover|
            %li= lover.account.link
