- content_for :head do
  = stylesheet_link_tag 'plans/show'

%h1 #{@account.login}'s plan
- if current_account == @account
  %a#edit_link{href: edit_plan_path(@account.login)} Edit

%article#plan
  #contents= @account.plan.to_html
